---
http_interactions:
- request:
    method: get
    uri: http://www.cleverbot.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Moz:
      - prefetch
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "\n<!DOCTYPE html PUBLIC>\n\n\n<html xmlns=\"http://www.w3.org/1999/xhtml\"
        xmlns:og=\"http://ogp.me/ns#\" xmlns:fb=\"http://www.facebook.com/2008/fbml\">\n<head>\n<meta
        content=\"text/html; charset=utf-8\" http-equiv=\"Content-Type\" />\n<meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1, maximum-scale=1,
        user-scalable=0\" />\n\n<meta name=\"google-site-verification\" content=\"aOcdzJfQ93zj7mCWLuJo4LK89wKEWLUmSibVKNkTF5Q\"
        />\n<link rel=\"SHORTCUT ICON\" href=\"/images/icon-favicon.gif\"/>\n<link
        rel=\"apple-touch-icon\" href=\"/images/icon-apple-touch.png\"/>\n<meta name=\"robots\"
        content=\"all\" />\n<meta name=\"revisit-after\" content=\"30 days\" />\n<script
        async src=\"/extras/conversation-social-min.js?1\"></script>\n<script async
        src=\"//social.cleverbot.com/social-initial-min.js\"></script>\n<style type=\"text/css\">\nbody
        {margin:0; padding:0;}\n#cleverbotlogo {width: 254px; height: 114px; background:url(/images/cleverbot254x114.jpg)
        no-repeat;}\n#conversationcontainer {min-height: 61px;}\n@media only screen
        and (max-width: 763px) {#footer p.textslot:nth-of-type(2) {display: none;}}\n@media
        only screen and (max-width: 437px) {#footer p {margin: 0 30px;}}\n@media only
        screen and (max-width: 500px) {#cbsocial {height: 60px;}}\n#cbsocial .obscure
        {display: none;}\n#cbsocial > ul {height: 30px; float:left; margin:0; padding:0;
        background-color: #3a9cf2;}\n#cbsocial > ul > li {display: block; float: left;
        padding-right: 10px;} /*top level menu items*/\n#cbsocial > ul > li > ul {display:
        none;} \n#cbsocial > ul > li#cbsocialsearch {min-width: 230px;}\n#cbsocial
        > div.obscureuser {display:none;}\n#cbsocial > div.viewuser {display: none;}\n#footer
        p.textslot {display:none;}\n#footer p.textslot:nth-of-type(1) {display: block;}\nins
        {display: none;}\n.responsivebanner, .responsivebanner > ins {display: block;}\n\n@media
        only screen and (min-width: 1248px) {.largerectangle, .l[...]
- request:
    method: post
    uri: http://www.cleverbot.com/webservicemin
    body:
      encoding: UTF-8
      string: stimulus=&vText2=&vText3=&vText4=&vText5=&vText6=&vText7=&vText8=&sessionid=&cb_settings_language=en&cb_settings_scripting=no&islearning=1&icognoid=wsf&icognocheck=22d3dd3c20e5fece03e6afe350b85d17
    headers:
      X-Moz:
      - prefetch
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
      Mime-Version:
      - '1.0'
    body:
      encoding: UTF-8
      string: "Is society suffering from a moral vacuum?\rWWD00816840\rj2log-eIlPAdYFOVGGWAWIZAYG-detail\r\r\r\r\r\r\rIs
        society suffering from a moral vacuum?\r\r+3000_cbfull\r\r\r\r\rIs society
        suffering from a moral vacuum?\r\r\r\r\r\r\r"
  recorded_at: Wed, 24 Jun 2015 16:17:39 GMT
recorded_with: VCR 2.9.3
